* {
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  font-family: "Macondo Swash Caps", cursive;
  overflow-x: visible;
  font-size: 16px;
}

a,
button {
  transition: 0.4s all ease !important;
}

/*LANDING VIEW*/

.landing {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    whitesmoke,
    rgb(193, 235, 253),
    hsl(198, 95%, 85%),
    rgb(154, 221, 250),
    rgb(192, 201, 251),
    #aab7fd
  );
  background-size: 600%;
  background-position: 0 0;
  box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  font-family: "Lato", Arial, sans-serif;
  justify-content: center;
  /* Animation */
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
}
@keyframes gradients {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}

.landing-title {
  font-family: "Macondo Swash Caps", cursive;
  text-decoration: underline;
  text-transform: uppercase;
  color: darkblue;
}

.form-landing {
  max-height: 10px;
}

.imagesContainer {
  margin: 5rem auto;
  width: 100%;
  max-width: 500px;
  height: 280px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
}

.imagesContainer img {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

/* animation styles */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.fadeInClass {
  animation-name: fadeIn;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.landing {
  color: #3b7097;
}

input {
  caret-color: #4a8db7;
}
::-webkit-input-placeholder,
select {
  /* Edge */
  color: #4a8db7 !important;
}

:-ms-input-placeholder,
select {
  /* Internet Explorer */
  color: #4a8db7 !important;
}

::placeholder,
select {
  color: #4a8db7 !important;
}

select,
input {
  border: 2px solid #3b7097 !important;
}

/* ------------------------ */
/*HOME VIEW*/

.navbar {
  background-color: #3b7097;
  padding: 8px 3em;
}

h1 {
  color: #a2e2f8;
  margin: 0;
}
.crossed {
  color: red;
  text-decoration: line-through;
}

.tinder {
  color: white;
}

.btn-navbar {
  background-color: #a2e2f8;
}

.btn-navbar:hover {
  background-color: hsl(203, 54%, 61%);
  color: whitesmoke;
}

.home {
  padding: 8px 3em;
  overflow-x: hidden;
}

.intro__text,
.resultsFeedback {
  margin: 35px auto;
  font-family: cursive;
}

.filters__form {
  margin: 15px auto;
  width: fit-content;
}

.form__item {
  display: flex;
  flex-wrap: wrap;
}

.form__item > input,
.form__item > select {
  width: 350px;
  cursor: pointer;
}

.table-header {
  background-color: #4a8db7;
  pointer-events: none;
  user-select: none;
}

.table-hover tbody tr:hover {
  background-color: #bbe9f8;
  color: #4a8db7;
  cursor: pointer;
  transition: 0.4s all ease;
}

.name,
.label {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  color: #4a8db7;
  font-size: 25px;
}

.label {
  width: 200px;
  font-size: 20px;
}

.foundNumber {
  color: #4a8db7;
}

/* ------------------------ */
/*GNOME VIEW*/

.container {
  padding: 8px 3em;
  margin: 0;
  display: flex;
  justify-content: center;
}

.card {
  background: #3b7097;
  margin: 15px;
  color: white;
  font-family: "Franklin Gothic Medium";
  box-shadow: 0 0 12px 4px darkgrey;
}

.card-header {
  height: 200px;
  background: whitesmoke;
  display: flex;
  justify-content: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.card img {
  height: 180px;
  width: auto;
  border-radius: 5px;
  border: 5px solid #4a8db7;
}

.card-body h1 {
  color: #3b7097;
  font-size: 5vw;
  font-weight: 700;
  text-align: center;
}

.card-details {
  color: #a1e1fa;
}

/* mobile, responsive */

@media (max-width: 580px) {
  .navbar,
  .home,
  .container,
  .landing {
    flex-direction: column;
    text-align: center;
    padding: 8px 1em;
  }

  .landing {
    height: 100vh;
    overflow: hidden;
  }

  .form__item {
    width: 100%;
    margin: 0 auto 10px;
  }

  .form__item > label {
    width: inherit;
    text-align: center;
  }

  .form__item > input,
  .form__item > select {
    margin: 10px auto;
    width: 100% !important;
  }

  .table {
    font-size: 0.7em;
  }
}
